In [5]:
import baostock as bs
import pandas as pd

In [6]:
bs.login()

login success!

In [7]:
rs = bs.query_history_k_data_plus("sh.600036",
    "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,peTTM,pbMRQ,psTTM,pcfNcfTTM,isST",
    start_date='2020-06-01', end_date='2020-12-31',
    frequency="d", adjustflag="3") #frequency="d"取日k线，adjustflag="3"默认不复权

In [8]:
data_list = []
while (rs.error_code == '0') & rs.next():
    # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)

In [9]:
result

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,peTTM,pbMRQ,psTTM,pcfNcfTTM,isST
0,2020-06-01,sh.600036,34.1500,34.9700,34.1000,34.8200,33.8200,48823746,1693982687.0000,3,0.236700,1,2.956800,9.202857,1.444415,3.163759,4.527482,0
1,2020-06-02,sh.600036,34.5500,35.2600,34.5400,35.0400,34.8200,49295713,1726597705.0000,3,0.239000,1,0.631800,9.261003,1.453541,3.183748,4.556088,0
2,2020-06-03,sh.600036,35.4500,36.0000,35.0200,35.2200,35.0400,61018691,2169754932.0000,3,0.295800,1,0.513700,9.308576,1.461008,3.200103,4.579493,0
3,2020-06-04,sh.600036,35.5000,35.5500,35.0700,35.1500,35.2200,25756086,909222198.0000,3,0.124900,1,-0.198700,9.290075,1.458104,3.193743,4.570391,0
4,2020-06-05,sh.600036,35.3000,35.4700,34.8100,35.2400,35.1500,32717303,1146499654.0000,3,0.158600,1,0.256000,9.313862,1.461837,3.201920,4.582093,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131,2020-12-11,sh.600036,44.2500,44.2700,42.6800,42.6800,44.2800,77143525,3347336214.3900,3,0.374000,1,-3.613400,11.670512,1.738199,3.798065,-10.724578,0
132,2020-12-14,sh.600036,43.3200,44.6600,43.3200,44.3700,42.6800,60742701,2686115498.7900,3,0.294500,1,3.959700,12.132629,1.807026,3.948457,-11.149239,0
133,2020-12-15,sh.600036,44.4500,44.9400,43.4400,44.3500,44.3700,43879226,1936658508.6300,3,0.212700,1,-0.045100,12.127161,1.806212,3.946677,-11.144214,0
134,2020-12-16,sh.600036,44.7900,44.8500,43.8800,44.0600,44.3500,36790200,1628021246.6600,3,0.178300,1,-0.653900,12.047862,1.794401,3.920870,-11.071343,0
135,2020-12-17,sh.600036,43.9000,44.1700,43.3500,44.0500,44.0600,50232903,2199570321.0500,3,0.243500,1,-0.022700,12.045128,1.793994,3.919980,-11.068830,0